#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

.ant-layout-content{
    min-height: 79vh;
}

header{
  width: 92%;
  height: 35px;
  border: 1px solid rgb(231, 215, 215);
  box-shadow: 2px 3px 2px rgb(207, 194, 194);
  margin:auto;
  border-radius: 10px;
  display: flex;
}

header>div{
  width: 50%;
  height: 100%;
}

header div:nth-child(1){
  display: flex;
  align-items: center;
  justify-content: center;
}
header div:nth-child(1)>input{
  display: none;
  width: 90%;
  font-size: 16px;
  border: none;
  outline: none;
}
header select{
  height: 20px;
  width: 50px;
  margin: 20px;
}
header div:nth-child(2){
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ant-badge{
  position: relative;
  top: -6px;
  right: 26px;
}

.head-example{
  padding: 15px;
  background: red;
  color: white;
}

nav{
  width: 70% !important;
}