#category_id>div{
    background:#1DA57A ;
}
#category_id>div>div>h2{
    color: white;
}
#category_id:hover{
    /* border: 10px solid #fff; */
    /* box-shadow: 2px 2px 8px 8px #efefef;
    transform: translateZ(2px);
    transition:all 800ms;
    cursor: pointer; */
}
#category_id .ant-card-body{
    padding: 5px;
    opacity: 0.7;
}