.spin{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    display: flex;
    justify-content: flex-start safe;
    flex-wrap: wrap;
}

.item>div{
    margin: 20px;
    width: 30%;
    height: 320px;
    box-shadow: 2px 2px 3px  #999;
}
/* .item>div:hover{
    border: 10px solid #fff;
    box-shadow: 2px 2px 8px 8px #efefef;
    transform: translateZ(60px);
    transition:all 800ms;
    cursor: pointer;
} */

.parent_pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination{
    display: flex;
    list-style: none;
}

.pagination li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.pagination li.active{
    background:blue;
}
.pagination a{
    border: 1px solid #999;
    padding: 5px 10px;
}

.pagination a:hover{
    opacity: 0.8;
    transform: translateZ('10px');
    transition: 500ms;
    background: blue;
    color: white;
}

.mini_item>div{
    display: flex;
    flex-wrap: wrap;
}

.mini_item>div>h3{
    width: 46.33%;
}

#price{
    width: 20%;
    text-align: right;
}
#price>p,.mini_item>div>h3{
    font-weight: 500;
    color: black;
    font-size: 20px;
    padding-right: 10px;
    opacity: 0.7;
}
.mini_item>div>h3{
    padding: 0;
    padding-left: 10px;
}
#rate{
    width: 33.33%;
}
.mini_item>div>p{
    background: #1DA57A;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 0px 0px 2px white;
    opacity: 0.8;
}
.image{
    width: 100%;
    height: 70%;
}
.numbers{
    display: none;
}
.view{
    display: flex;
    width: 100%;
    height: 64%;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.add:hover{
    opacity: 0.7;
    cursor: pointer;
}
.view>input{
    width: 33.33%;
    height: 20%;
    text-align: center;
}
.view>input:hover{
    background: red;
    cursor: pointer;
    border: none;
    outline: none;
}
.view>button{
    width: 50%;
}

.counter{
    width: 100%;
    height: 20%;
    line-height: 20%;
}
.view>button:hover{
    background: red;
}
.k{
    width: 100%;
    height: 10%;
}
.ok{
    position: absolute;
    top: 10px;
    right: 10px;
}
@media screen and (max-width:400px){
    .item>div{
        width: 100%;
        height: 320px;
    }
    #rate{
        display: none;
    }
    .nav{
        width: 90%;
    }
    .mini_item  h3{
        width: 70% !important;
    }
    .ant-layout-sider{
        position: fixed;
        z-index: 3;
        height: 100%;
    }
}