header{
    width: 80%;
    height: 60px;
    border: 1px solid rgb(231, 215, 215);
    box-shadow: 2px 3px 2px rgb(207, 194, 194);
    margin:auto;
    border-radius: 10px;
    display: flex;
    margin-bottom: 40px;
}

header>div{
    width: 50%;
    height: 100%;
}

header div:nth-child(1){
  
}

header select{
    height: 30px;
    width: 50px;
    margin: 20px;
}

header div:nth-child(2){
   
}

header div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}