.ant-layout-content{
    min-height: 87vh;
}

.korzina{
    min-height: 30vh;
    width: 80%;
    margin: auto;
}

.korzina>div{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    perspective: 1000px;
}

.korzina>div>div{
    width: 25% !important;
    padding: 10px;
    background: white;
}

.korzina>div>div:nth-child(1),.korzina>div>div:nth-child(2),.korzina>div>div:nth-child(3){
    border-right: 1px solid #aaa;
 transform: translateZ(20px);
 box-shadow: 2px 2px 2px white;
}